html
{
    scroll-behavior:smooth;
}

/* Top Bar Start */
.my-bg
{
	background:#1F2E4E;
	height:45px;
	color:#6E7684;
}

.center
{
	align-items: center !important;
}

.padding-top
{
	padding-top:8px;
}
/* Top Bar End */


/* Top Navbar Header Section Start here */
.my-font-size
{
	font-size:2.5rem;
	color:red;
}

a
{
	text-decoration:none;
}

.btn
{
	font-weight:600;
}

.mybtn-hover
{
	color:black;
	background:white;
}

.mybtn-hover:hover
{
	background:red;
	color:white;
}.mybtn-hover2
{
	background:white;
	color:black;
}

.mybtn-hover2:hover
{
	background:#8B0000;
	color:white;
}

/* Top Navbar Header Section End Here */

.red-hover:hover
{
	color:red;
}


.dark a
{
	color:black
}

.padding
{
	padding-left:10px;
}
/* Top Navbar Header Section End Here */

.spacial-bg
{ 
	min-height: 100vh;
	display: flex;
	align-items: center;
}


.container-width
{
	width:350px;
}


    body {
      background: #f5f5f5;
    }
    .form-box {
      background: #1f3556;
      padding: 30px;
      border-radius: 10px;
      color: white;
      max-width: 450px;
    }
    .form-control, .form-select {
      border-radius: 8px;
    }
    .btn-book {
      background: white;
      color: red;
      font-weight: 600;
	  transition:0.7s;
    }
    .btn-book:hover {
    background:red;
	color:white;
	font-weight: 600;
    }
	
	.responsive-width
{
    background: #1f3556;
    padding: 30px;
    border-radius: 10px;
    color: white;
    width: 550px !important;	
}

.fs-own
{
	font-size:58px;
}

/* Feature Start Here */

.feature-bg
{
	background:#f2f2f2;
}

.color-feature
{
	color: #ea001e;
	font-size:3.5rem;
}

.beautify
{
	font-size: -webkit-xxx-large;
}

.iteams
{
	display:flex;
	border-radius:10px;
}

.fit-cover
{
	object-fit:cover;
}

.radius
{
	border-radius:20px;
}

.radius-vision-h:hover
{
		border-radius:10px;
		background;
}

.logo span:hover
{
	transform: rotate(45deg);
}
/* Feature End Here */

/* About Start Here */
.about-items-inner
{
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    transition: 0.5s;
	background:#DDDDE2;
}

.about-icon
{
	    background: red;
    height: 96px;
    width: 108px;
    align-items: center;
    justify-items: center;
    padding-top: 17px;
	border-radius:50%;
}
/* Feature End Here */
   /* imgae section Start here*/
      .imgs
	  {
	width: 85px;
    height: 92px;
		  
	  }
	  .imgs:hover
	  {
		  transition:0.8s;
	  }

/* popup css start here */
/* about start here */
.about-img
{
	    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.img-1
{
	height: 85%;
    margin-right: 50px;
}

/* about end here */
.combined-bg
{
background: linear-gradient(to right, #ff8008, #ffc837);
}

/* BACKDROP (background blur + dark) */
.modal-backdrop.show {
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  background-color: rgba(0, 0, 0, 0.5);
}

/* MODAL BOX */
.modal-content {
	backdrop-filter: blur(4px);
    border-radius: 15px;
    border: 5px solid rgba(0, 0, 0, 0);
    box-shadow: 2 8px 32px rgba(0, 0, 0, 0.25);
    color: #fff;
}
}

/* HEADER */
.modal-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.text-mediumvioletred
{
	color:black;
}

/* INPUT FIELDS */
.modal input {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  color: #fff;
}

.modal input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

/* INPUT FOCUS */
.modal input:focus {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: none;
  color: #fff;
}

/* BUTTON STYLE */
.modal .btn-outline-dark {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  color: #fff;
  transition: 0.3s;
}

.modal .btn-outline-dark:hover {
  background: rgba(255, 255, 255, 0.35);
}

/* CLOSE BUTTON WHITE */
.btn-close {
 color:black;
}

.modal.fade .modal-dialog {
  transform: scale(0.8);
  transition: 0.3s ease;
}

.modal.show .modal-dialog {
  transform: scale(1);
}
/* popup css end here */


.img-style
{
	margin-top:35rem;
	margin-left:35px;
}

.width
{
	    width: stretch;
}

.counter-item-icon
{
	    background:#d31e1e;
    width: 100px;
    height: 80px;
    border-radius: 50%;
}

.waight
{
	color:#000c21;
	font-weight:700;
	font-family: "Montserrat", sans-serif;
}
.fs-service
{
	font-size:50px;
}

.service-box 
{
	position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 0 45px rgba(0, 0, 0, .1);
    border-radius: 10px;
    background: var(--bs-white);
    transition: 0.5s;
}

.service-icon
{
	background: green;
    width: 82px;
    height: 73px;
    border-radius: 50%;
}

.red-hover
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 60px;
    background: var(--bs-light);
}

.card-animation {
  transition: transform 0.4s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card-animation:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}	
.bg 
{
	background:#e3e3e3;
}


.categories-item
{
    border: 1px solid var(--bs-secondary);
    border-radius: 10px;
}

.car-plate{
background: linear-gradient(135deg, #fc466b, #3f5efb);
    color: white;
    padding: 10px 20px;
    border-radius: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    display: inline-block;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    transition: 1s ease;
    border: 2px solid rgba(255,255,255,0.2);
}

.car-plate:hover
{
	background: linear-gradient(135deg,#141e30 0%,#243b55 30%,#3a7bd5 65%,#00d2ff 100%);
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 12px 25px rgba(0,0,0,0.3);
}

.categories-content
{
    border: 2px solid green;
    border-radius: 3%;
}

.steps
{
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("bg-1.jpg")no-repeat center center/cover;
}

.var-bg{
    background: linear-gradient(270deg, #00c6ff, #7b2ff7, #ff4ecd);
    background-size: 400% 400%;
    animation: gradientMove 10s ease infinite;
    transition: all 0.7s ease;
}

.var-bg:hover{
    transform: translateY(-3px);
    box-shadow: 0 15px 25px rgba(0,0,0,0.3);
}

@keyframes gradientMove{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}



.header-bg{
    background: linear-gradient(270deg, #111111, #2b0000, #5c0000, #1a1a1a);
    background-size: 400% 400%;
    animation: darkRedFlow 8s ease infinite;
    transition: all 0.7s ease-in-out;
}

.color-bg-h:hover
{
	color:white;
	background: linear-gradient(270deg, #095bef, #d93737, #5c0000, #3276b1);
	background-size: 400% 400%;
    animation: darkRedFlow 8s ease infinite;
    transition: all 0.7s ease-in-out;
}

.header-bg-h
{
	color:white;
	background: linear-gradient(270deg, #095bef, #d93737, #5c0000, #3276b1);
	background-size: 400% 400%;
    animation: darkRedFlow 8s ease infinite;
    transition: all 0.7s ease-in-out;
}

.header-bg-h:hover
{
	background:white;
	color:black;
}

.header-bg:hover{
	background: linear-gradient(270deg, #095bef, #d93737, #5c0000, #3276b1);
}

@keyframes darkRedFlow{
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }
}

.steps-number {
    width: 64px;
    height: 64px;
    margin-bottom: 0;
    font-weight: 900;
    border: 3px solid var(--bs-white);
    border-radius: 64px;
    transform: translateY(50%);
    color: var(--bs-white);
	background:#1f2e4e;
    display: flex;
    align-items: center;
    justify-content: center;
}

.steps-item
{
	position: relative;
    background: var(--bs-secondary);
    border-radius: 10px;
}


.steps-iteam
{
	border-radius:2%;
}

/* image slider */

.body{
    background: linear-gradient(135deg,#0f0f0f,#1b1b1b,#000);
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow-x:hidden;
    padding:40px 0;
}

/* MAIN SLIDER */
.premium-slider{
    width:95%;
    max-width:1400px;
    position:relative;
}

/* CARD DESIGN */
.slide-card{
    position:relative;
    overflow:hidden;
    border-radius:25px;
    transition:0.6s ease;
    cursor:pointer;
    transform:scale(.92);
    filter:brightness(.7);
}

/* IMAGE */
.slide-card img{
    width:100%;
    height:420px;
    object-fit:cover;
    transition:1s ease;
}

/* ACTIVE CARD EFFECT */
.carousel-item.active .slide-card{
    transform:scale(1);
    filter:brightness(1);
}

/* HOVER EFFECT */
.slide-card:hover img{
    transform:scale(1.12);
}

.slide-card::before{
    content:'';
    position:absolute;
    inset:0;
    background:linear-gradient(
    to top,
    rgba(0,0,0,.8),
    rgba(0,0,0,.1),
    transparent
    );
    z-index:1;
}

/* TEXT */
.slide-content{
    position:absolute;
    bottom:20px;
    left:20px;
    z-index:2;
    color:#fff;
}

.slide-content h2{
    font-size:2rem;
    font-weight:700;
}

.slide-content p{
    font-size:15px;
    opacity:.9;
}

/* BUTTONS */
.carousel-control-prev,
.carousel-control-next{
    width:60px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
    background-color:rgba(255,255,255,.2);
    backdrop-filter:blur(10px);
    border-radius:50%;
    padding:25px;
}

/* IMAGE GAP */
.multi-img{
    padding:12px;
}

/* PREMIUM SHADOW */
.slide-card{
    box-shadow:
    0 10px 40px rgba(0,0,0,.5),
    0 0 20px rgba(138,209,94,.2);
}

/* MOBILE */
@media(max-width:768px){

    .slide-card img{
        height:260px;
    }

    .slide-content h2{
        font-size:1.3rem;
    }

    .slide-content p{
        font-size:12px;
    }
}
/* image slider end */

/* blog end */
.blog-comment
{
	display: flex;
    justify-content: space-between;
}

.blog-date
{
	position: absolute;
    margin-top: -25px;
    transform: translateY(-50%);
    padding: 12px 25px;
    border-radius: 10px;
    color: var(--bs-white);
    background:red;
}

.body-weight
{
	font-family: "Lato", sans-serif;
}

.shadow-hover:hover {
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175) !important;
  transition: box-shadow 0.3s ease-in-out;
}


/* blog item */
.blog .blog-item {
    border-radius: 10px;
    transition: 0.5s;
}

.blog .blog-item:hover {
    box-shadow: 0 0 45px rgba(0, 0, 0, .2);
}

.blog .blog-item .blog-img {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.blog .blog-item .blog-img::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.3);
    transition: 0.5s;
}

.blog .blog-item:hover .blog-img::after {
    height: 100%;
}

.blog .blog-item .blog-img img {
    transition: 0.5s;
}

.blog .blog-item:hover .blog-img img {
    transform: scale(1.2);
}  

.blog .blog-item .blog-content {
    position: relative;
    background: var(--bs-light);
}

.blog .blog-item .blog-content .blog-date {
    position: absolute;
    transform: translateY(-50%);
    padding: 12px 25px;
    border-radius: 10px;
    color: var(--bs-white);
    background:red;
}

.blog .blog-item .blog-content .blog-comment {
    display: flex;
    justify-content: space-between;
}
/* blog item end */

.rent-bg 
{
	max-width: 100%;
    height: auto;
	background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("banner-1.jpg")no-repeat center center/cover;
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    z-index: 5;
}

.fs-85
{
	font-size:85px;
    font-weight: 500;
}

.fs-40
{
	font-size:40px;
	font-weight: 500;
}

.team .team-item {
    position: relative;
    text-align: center;
    border-radius: 10px;
    margin-top: 100px;
    background:#f2f2f2;
    transition: 0.5s;
    z-index: 1;
}
.banner-content 
{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.btn-own
{
	color:white;
	background:#1f2e4e;
}

/* Rent car end */
/* Client Review */

/* Client Review end */

/* About Us */
.pras
{
	background:#000c21;
}
/* About Us End */
